# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Yarn 2: https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*